
/*--------------------------- Home Components --------------------*/
header{
    .intro::before{
        content: "";
        height: 40vh;
        width: 40vh;
        background-color: rgba(255, 255, 255, 1);
        position: absolute;
        top: 12%;
        left: 80%;
        transform: translate(-20%);
        filter: blur(400px);
        z-index: 20;
    }
    .intro{
        height: 100vh;
        width: 100vw;
        background-color: rgb(26, 27, 32);
        color: rgb(255, 255, 255);
        .profile{
            position: absolute;
            top: 40%;
            left: 12%;
            width: 48vw;
            padding: 2px;
            display: grid;
            row-gap: 10px;
            p{
                font-size: 16px;
                text-align: justify;
            }
            button{
                border-radius: 10px;
                border: 2px solid rgb(255, 255, 255);
                padding: 7px 10px;
                margin: 5px;
                width: fit-content;
                font-size: 28px;
                cursor: pointer;
                background-color: rgb(26, 27, 32);
                color: rgb(255, 255, 255);
                transition: 0.8s;
                font-family: "Kablammo", sans-serif;
            }
            button:hover{
                background-color: rgb(255, 255, 255);
                color: rgb(0, 0, 0);
            }
        }
    }
}

